In [18]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_excel('Lab Session Data (3).xlsx', sheet_name = 'thyroid0387_UCI')

In [9]:
data.head()

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S

In [12]:
mean_age = data['age'].mean()
print(mean_age)

73.55582206716092

In [20]:
import statistics as st
cleaned_data = data
cleaned_data.replace('?', np.nan, inplace=True)
cleaned_data = data['TSH'].dropna()
mean_TSH = st.mean(cleaned_data)
print(mean_TSH)

5.218402753781513

In [21]:
cleaned_data = data['T3'].dropna()
mean_T3 = st.mean(cleaned_data)
print(mean_T3)

1.9706288057247259

In [22]:
cleaned_data = data['TT4'].dropna()
mean_TT4 = st.mean(cleaned_data)
print(mean_TT4)

108.70030469644902

In [23]:
cleaned_data = data['T4U'].dropna()
mean_T4U = st.mean(cleaned_data)
print(mean_T4U)

0.9760557216309936

In [24]:
cleaned_data = data['FTI'].dropna()
mean_FTI = st.mean(cleaned_data)
print(mean_FTI)

113.64074551935484

In [25]:
cleaned_data = data['TBG'].dropna()
mean_TBG = st.mean(cleaned_data)
print(mean_TBG)

29.87005729512894

In [26]:
cleaned_data = data['TSH'].dropna()
variance_TSH = st.variance(cleaned_data)
print(variance_TSH)

584.8661532092906

In [27]:
cleaned_data = data['T3'].dropna()
variance_T3 = st.variance(cleaned_data)
print(variance_T3)

0.787796168356156

In [28]:
cleaned_data = data['TT4'].dropna()
variance_TT4 = st.variance(cleaned_data)
print(variance_TT4)

1407.950791475485

In [29]:
cleaned_data = data['T4U'].dropna()
variance_T4U = st.variance(cleaned_data)
print(variance_T4U)

0.040144306390064576

In [30]:
cleaned_data = data['FTI'].dropna()
variance_FTI = st.variance(cleaned_data)
print(variance_FTI)

1726.5395850611544

In [31]:
cleaned_data = data['TBG'].dropna()
variance_TBG = st.variance(cleaned_data)
print(variance_TBG)

444.3876429994665

In [34]:
for column in data.columns:
        if pd.api.types.is_numeric_dtype(df[column]):
            outlier_indices = detect_outliers_iqr(df[column])
            outliers_dict[column] = outlier_indices
    
    return outliers_dict

def detect_outliers_iqr(df):
    outlier_indices = {}
    for column in df.columns:
        if pd.api.types.is_numeric_dtype(df[column]):
            series_clean = df[column].dropna()
            Q1 = series_clean.quantile(0.25)
            Q3 = series_clean.quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            outliers = series_clean[(series_clean < lower_bound) | (series_clean > upper_bound)]
            outlier_indices[column] = outliers.index.tolist()
    
    return outlier_indices

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)